; ATTENTION: Edit this file or replace it with any file from sample.cfg\*.cfg
;
  !--remove this line--!
;
;
;----------------------------------------------------------------
# Set to real library search path and uncomment
; -LE:\BCB5\Lib;E:\BCB5\Lib\Release;E:\BCB\Lib\Obj

# Change and uncoment any of next strings if needed

-r -O    # remap import names, bind image

; -Gw    # D6/BCB6 dfm-style

; -Ge    # disable library exports

; -w-cmt # disable compatibility messages

; -o -Gh # Import by ordinal, strip unused PE headers
