<?xml version="1.0" encoding="utf-8"?>
<GeneralOptions xmlns="urn:schemas-nliteos-com:pn.v1">
	<LoadLastSession>true</LoadLastSession>
	<LicenseKey></LicenseKey>
	<SilenceProUpgrade>true</SilenceProUpgrade>
	<SilenceCancelledTarget>false</SilenceCancelledTarget>
	<CheckUpdateDaily>true</CheckUpdateDaily>
	<LastUpdateCheck>1446662552</LastUpdateCheck>
	<ShowInfoBar>true</ShowInfoBar>
	<SkipRemovalWarning>false</SkipRemovalWarning>
	<SkipLiveWarning>false</SkipLiveWarning>
	<SkipDirectWimWarning>false</SkipDirectWimWarning>
	<SkipExploreWarning>false</SkipExploreWarning>
	<SkipEsdWarning>false</SkipEsdWarning>
	<SkipAutoLang>false</SkipAutoLang>
	<SplitImageSize>4000</SplitImageSize>
	<ForceWimLib>false</ForceWimLib>
	<DismSessionCount>20</DismSessionCount>
	<CustomScratch>false</CustomScratch>
	<VisualStyle>0</VisualStyle>
	<VisualAccent>0</VisualAccent>
	<RecentPaths>
		<AddInstaller></AddInstaller>
		<AddUpdate></AddUpdate>
		<SaveISO></SaveISO>
		<AddImage></AddImage>
		<SaveImage></SaveImage>
		<ExportPreset></ExportPreset>
		<ImportPreset></ImportPreset>
		<AddDriver></AddDriver>
		<ExportDriver></ExportDriver>
		<ImportDriver></ImportDriver>
		<ExportHwlist></ExportHwlist>
		<ImportHwlist></ImportHwlist>
	</RecentPaths>
	<Images></Images>
</GeneralOptions>
